SkypeBot/Service References/UrbanDictionary/soap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:UrbanSearch" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:UrbanSearch" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:UrbanSearch">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="Definition">
        <xsd:all>
          <xsd:element name="word" type="xsd:string" />
          <xsd:element name="definition" type="xsd:string" />
          <xsd:element name="example" type="xsd:string" />
          <xsd:element name="author" type="xsd:string" />
          <xsd:element name="url" type="xsd:string" />
          <xsd:element name="defid" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DefinitionArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Definition[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WordArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="lookupRequest">
    <wsdl:part name="key" type="xsd:string" />
    <wsdl:part name="term" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="lookupResponse">
    <wsdl:part name="return" type="tns:DefinitionArray" />
  </wsdl:message>
  <wsdl:message name="nearbyRequest">
    <wsdl:part name="key" type="xsd:string" />
    <wsdl:part name="term" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="nearbyResponse">
    <wsdl:part name="return" type="tns:WordArray" />
  </wsdl:message>
  <wsdl:message name="count_definitionsRequest">
    <wsdl:part name="key" type="xsd:string" />
    <wsdl:part name="term" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="count_definitionsResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="get_daily_definitionRequest" />
  <wsdl:message name="get_daily_definitionResponse">
    <wsdl:part name="return" type="tns:Definition" />
  </wsdl:message>
  <wsdl:message name="get_random_definitionRequest">
    <wsdl:part name="key" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_random_definitionResponse">
    <wsdl:part name="return" type="tns:Definition" />
  </wsdl:message>
  <wsdl:message name="get_related_tagsRequest">
    <wsdl:part name="key" type="xsd:string" />
    <wsdl:part name="tag" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_related_tagsResponse">
    <wsdl:part name="return" type="tns:WordArray" />
  </wsdl:message>
  <wsdl:message name="verify_keyRequest">
    <wsdl:part name="key" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="verify_keyResponse">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:portType name="UrbanSearchPortType">
    <wsdl:operation name="lookup">
      <wsdl:input message="tns:lookupRequest" />
      <wsdl:output message="tns:lookupResponse" />
    </wsdl:operation>
    <wsdl:operation name="nearby">
      <wsdl:input message="tns:nearbyRequest" />
      <wsdl:output message="tns:nearbyResponse" />
    </wsdl:operation>
    <wsdl:operation name="count_definitions">
      <wsdl:input message="tns:count_definitionsRequest" />
      <wsdl:output message="tns:count_definitionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_daily_definition">
      <wsdl:input message="tns:get_daily_definitionRequest" />
      <wsdl:output message="tns:get_daily_definitionResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_random_definition">
      <wsdl:input message="tns:get_random_definitionRequest" />
      <wsdl:output message="tns:get_random_definitionResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_related_tags">
      <wsdl:input message="tns:get_related_tagsRequest" />
      <wsdl:output message="tns:get_related_tagsResponse" />
    </wsdl:operation>
    <wsdl:operation name="verify_key">
      <wsdl:input message="tns:verify_keyRequest" />
      <wsdl:output message="tns:verify_keyResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UrbanSearchBinding" type="tns:UrbanSearchPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="lookup">
      <soap:operation soapAction="http://api.urbandictionary.com/soap/lookup" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nearby">
      <soap:operation soapAction="http://api.urbandictionary.com/soap/nearby" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="count_definitions">
      <soap:operation soapAction="http://api.urbandictionary.com/soap/count_definitions" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_daily_definition">
      <soap:operation soapAction="http://api.urbandictionary.com/soap/get_daily_definition" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_random_definition">
      <soap:operation soapAction="http://api.urbandictionary.com/soap/get_random_definition" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_related_tags">
      <soap:operation soapAction="http://api.urbandictionary.com/soap/get_related_tags" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verify_key">
      <soap:operation soapAction="http://api.urbandictionary.com/soap/verify_key" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UrbanSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UrbanSearch">
    <wsdl:port name="UrbanSearchPort" binding="tns:UrbanSearchBinding">
      <soap:address location="http://api.urbandictionary.com/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>